html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

html {
  line-height: 1.7;
  font-family: Georgia, serif;
  font-size: 20px;
  color: #1a1a1a;
  background-color: #fdfdfd;
}

h4,
h5,
h6 {
  color: rgb(8, 8, 8);
  font-weight: bold;
}

.article-content h1 {
  color: #2660ab;
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: -1ex;
}

.article-content h2 {
   color: coral;  
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: -1ex;
}

.article-content h3{
  color: rgb(10, 10, 10);
  font-size: 17px;
  margin-bottom: -2px;
}

.article-content dt {
  color: rgb(0, 0, 0);
  margin-bottom: -15px;
  clear: both;
  font-weight: bold;

}

a {
  outline: none;
}

code {
  background-color: rgba(78, 63, 63, 0.02);
}

/* TABLES ==============================*/
table {
  float: center;
  width: 95%;
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  table-layout: fixed;
}

th,
td {
  padding: 15px;
  text-align: center;
}

td {
  white-space: nowrap;
}

tr:hover {
  background-color: #d4c0c0;
}

caption {
  padding: 10px;
  caption-side: bottom;
}
/* FIGURES =============================*/
figure {
  float: center;
  width: 95%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
img {
  max-width: 100%;
}
/*================================*/

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
  border-radius: 50%;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  color: #000;
}

.content {
  max-width: 900px;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1.7;
/*   color: rgb(9, 28, 197); */
}

.article-title {
  font-size: 30px;
  color: rgb(201, 12, 12);
  margin: 0;
  line-height: 1.3;
}

.article-date {
  color: #ccc;
}

.article-duration {
  margin-top: 10px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #fff;
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #cbf8df;
  box-shadow: inset 0 -4px 0 #cbf8df;
  background: transparent;
  transition: background 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
  background: #f53e06;
}

.article-content hr {
  width: 100px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 12px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: left;
  color: rgb(6, 49, 20);

}

.archive-title {
  font-size: 10px;
  margin-top: 60px;
}

.archive-item {
  margin: 3px 0 10px;
  padding: 0;

}

.archive-item-date {
  color: #ccc;
  font-size: 20px;
  padding: 3px 5;
  margin-top: 5px;
  display: block;
}
.sum {
  margin-top: 10px;
  /* margin-bottom: 40px; */
}
.sum-link {
  font-size: 14px;
  border-bottom: none;
  text-align: justify;
  text-decoration: lightseagreen;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 27px;
  font-weight: bold;
  color: #222;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  text-align: center;
  height: 80px;
  bottom: 0px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: "/";
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

.post-tags {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 40px;
  
}

.tag{
/*   display: inline-block; */
  background-color: rgb(226, 213, 213);
  border-radius: 10px;
  margin-right: 5px;
  background-size: 150%;

}

.tag a:link {
  font-size: 14px;
  color: red;
  text-decoration: none;
}

.sidebar {
  width: 30%;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: var(--bg-color);
  height: 100%;
  top: -100px;
  left: 0%;
  position: fixed;
  z-index: 4;
  border-right: 1px solid var(--border-color);
}

.sidebar .logo-title {
  text-align: center;
  padding-top: 250px;
}

.sidebar .description {
  font-size: 13px;
}

.sidebar .logo-title .logo {
  margin: 0 auto;
}

.sidebar .logo-title .title img {
  width: 200px;
  border-radius: 70%;
}

/* .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
} */

.sidebar .title { 
  text-decoration: none;
  text-transform: uppercase;
   color: var(--heading-color);
  font-size: 15px;
  font-weight: bold;
}


.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 7px;
  text-align: center;
}

.sidebar .social-links i {
  margin-right: 3px;
}

.sidebar .social-links li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}

.sidebar .social-links a {
  color: var(--heading-color);
}

.sidebar .social-links a:hover {
  color: #2660ab;
}
 
.main {
  width: 100%;
 /*  max-width: 1100px; */
  margin-left: 160px; 
  font-size: 20px; 
  padding: 0px 0px;
} 

@media only screen and (max-width: 1150px) {
  body {
    background-color: rgb(253, 246, 246);
  }


  .sidebar {
    width: 100%;
    position: relative;
    border-right: none;
    z-index: 1;
    margin-top: -5px;
  }

  .main {
    /* max-width: 500px; */
    margin: 0 auto;
    font-size: 15px; 
  }

  .archive-item-link{
    font-size: 22px;
  }

  .article-content{
    font-size: 12px;
  }

  .article-title{
    font-size: 20px;
  }
  
}
